
<mat-card [ngStyle]= "{
    backgroundColor: slideBKGColor,
    color: foreColor
}">


    <mat-card-title>Perspective Grapher</mat-card-title>
    <mat-card-subtitle> {{selFunc.fnSurface}}</mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content>

        <div class='controls'>

            <mat-form-field>
                <mat-label [ngStyle]="{ color: foreColor }">
                    Function
                </mat-label>

                <mat-select 
                    [(ngModel)]='selFunc' 
                    name='funcs'
                    (selectionChange)='onFunctionChange($event)'
                >
                    <mat-option [value]='func' *ngFor='let func of funcs'>
                        {{func.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <div class="slider-container">

                <div class="slider">
                    <mat-slider
                        class = 'slider-color'
                        [(ngModel)]='slideHSLHue'
                        (input)='onHSLColorChange($event)'
                        [vertical]='true' [min]='0' [max]='360' [step]='1'
                    ></mat-slider>
                    <h4>Color</h4>
                </div>
    
                <div class="slider">
                    <mat-slider
                        class = 'slider-bkg'
                        [(ngModel)]='slideBKGLum'
                        (input)='onBKGColorChange($event)'
                        [vertical]='true' [min]='5' [max]='90' [step]='1'
                    ></mat-slider>
                    <h4>Bkg</h4>
                </div>
    
                <div class="slider">
                    <mat-slider
                        class = 'slider-time'
                        [(ngModel)]='slideTime'
                        (input)='onTimeChange($event)'
                        [vertical]='true' [min]='0' [max]='6.28318531' [step]='.01'
                    ></mat-slider>
                    <h4>Time</h4>   
                </div>
    
                <div class="slider">
                    
                    <mat-slider
                        class = 'slider-zoom'
                        [(ngModel)]='slideZoom'
                        (input)='onZoomChange($event)'
                        [vertical]='true' [min]='0' [max]='100' [step]='.5'
                    ></mat-slider>
                    <h4>Zoom</h4>   
                </div>
    
                <div class="slider">
                    <mat-slider
                        class = 'slider-penwidth'
                        [(ngModel)]='slidePenWidth'
                        (input)='onPenWidthChange($event)'
                        [vertical]='true' [min]='0.05' [max]='0.50' [step]='.005'
                    ></mat-slider>
                    <h4>Weight</h4>    
                </div>



            </div>



        </div>

        <div>
            <canvas id="canvas" height="1000px" width="1200px"></canvas>
        </div>

    </mat-card-content>

</mat-card>