* {
    padding: 0;
    margin: 0;
}

mat-card {
    margin: 0;
    height: 100%;
    width: 100%;
}

mat-card-title {
    font-family: 'special elite';
    font-weight: 700;
}

mat-card-subtitle {
    font-family: 'consolas';
    font-size: 9pt;
}

mat-form-field {
    z-index: 100;
}

mat-card-subtitle, mat-form-field, mat-label, mat-select, mat-option {
    color: inherit;
}

div.controls {
    position: absolute;
    width: 250px;
    height: 200px;
    left: 10px;
    bottom: 50px;
    z-index: 100;
}


div.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: rgba(0,0,0,.4);
}


div.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    & h4 { 
        margin-top: 5px;
        font-weight: 400;
    }
}


::ng-deep .mat-slider {
    padding: 0;
}

// override the theme color.  just force it here for now - but need to figure out theming.

::ng-deep .mat-card {
    border-radius: 0 !important;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: rgba(0, 174, 255, 0.879);
}
::ng-deep .mat-accent .mat-slider-thumb-label,
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: rgba(0, 174, 255, 0.479);
}



canvas {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
